/*Stylesheet*/

.container {
    align-items: baseline;
    background-color: grey;
    color: grey;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

#about {
    margin-left: 25px;
}

#gmail {
    margin-right: 25px;
}

#logo {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.searchbar {
    display:flex;
    justify-content: center;
}

