/*Stylesheet*/

.container {
    background-color: grey;
    color: grey;
    display: flex;
    justify-content: space-between;
}

/*#about {
    padding-right: 10px;
}
    

#gmail {
    background-color: red;
    align-self: flex-end;
    margin-left: 75%;
}*/

#right {
    
}

#left {

}

